body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1220px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:71px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:70px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:191px;
  height:44px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:21px;
  width:170px;
  height:23px;
}
#u1041_img.mouseOver {
}
#u1041.mouseOver {
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:17px;
  width:30px;
  height:27px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u1043_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u1043_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1044_img.mouseOver {
}
#u1044.mouseOver {
}
#u1044_img.mouseDown {
}
#u1044.mouseDown {
}
#u1044_img.selected {
}
#u1044.selected {
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:10px;
  width:43px;
  height:18px;
  color:#000000;
}
#u1045_img.mouseOver {
}
#u1045.mouseOver {
}
#u1045_img.mouseDown {
}
#u1045.mouseDown {
}
#u1045_img.selected {
}
#u1045.selected {
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1047_img.mouseOver {
}
#u1047.mouseOver {
}
#u1047_img.mouseDown {
}
#u1047.mouseDown {
}
#u1047_img.selected {
}
#u1047.selected {
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u1049_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u1049_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1050_img.mouseOver {
}
#u1050.mouseOver {
}
#u1050_img.mouseDown {
}
#u1050.mouseDown {
}
#u1050_img.selected {
}
#u1050.selected {
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1051_img.mouseOver {
}
#u1051.mouseOver {
}
#u1051_img.mouseDown {
}
#u1051.mouseDown {
}
#u1051_img.selected {
}
#u1051.selected {
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1052_img.mouseOver {
}
#u1052.mouseOver {
}
#u1052_img.mouseDown {
}
#u1052.mouseDown {
}
#u1052_img.selected {
}
#u1052.selected {
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u1055_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u1055_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u1056_img.mouseOver {
}
#u1056.mouseOver {
}
#u1056_img.mouseDown {
}
#u1056.mouseDown {
}
#u1056_img.selected {
}
#u1056.selected {
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u1057_img.mouseOver {
}
#u1057.mouseOver {
}
#u1057_img.mouseDown {
}
#u1057.mouseDown {
}
#u1057_img.selected {
}
#u1057.selected {
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u1058_img.mouseOver {
}
#u1058.mouseOver {
}
#u1058_img.mouseDown {
}
#u1058.mouseDown {
}
#u1058_img.selected {
}
#u1058.selected {
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u1061_img.mouseOver {
}
#u1061.mouseOver {
}
#u1061_img.mouseDown {
}
#u1061.mouseDown {
}
#u1061_img.selected {
}
#u1061.selected {
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u1063_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u1063_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1064_img.mouseOver {
}
#u1064.mouseOver {
}
#u1064_img.mouseDown {
}
#u1064.mouseDown {
}
#u1064_img.selected {
}
#u1064.selected {
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u1065_img.mouseOver {
}
#u1065.mouseOver {
}
#u1065_img.mouseDown {
}
#u1065.mouseDown {
}
#u1065_img.selected {
}
#u1065.selected {
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:10px;
  width:85px;
  height:18px;
  color:#000000;
}
#u1066_img.mouseOver {
}
#u1066.mouseOver {
}
#u1066_img.mouseDown {
}
#u1066.mouseDown {
}
#u1066_img.selected {
}
#u1066.selected {
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u1069_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1069.mouseOver {
}
#u1069_img.mouseDown {
}
#u1069.mouseDown {
}
#u1069_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1069.selected {
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u1070_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1070.mouseOver {
}
#u1070_img.mouseDown {
}
#u1070.mouseDown {
}
#u1070_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1070.selected {
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u1071_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1071.mouseOver {
}
#u1071_img.mouseDown {
}
#u1071.mouseDown {
}
#u1071_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1071.selected {
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u1072_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1072.mouseOver {
}
#u1072_img.mouseDown {
}
#u1072.mouseDown {
}
#u1072_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1072.selected {
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u1073_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1073.mouseOver {
}
#u1073_img.mouseDown {
}
#u1073.mouseDown {
}
#u1073_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u1073.selected {
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u1074 {
  position:fixed;
  left:50%;
  margin-left:-610.5px;
  top:0px;
  visibility:hidden;
}
#u1074_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1221px;
  height:51px;
  background-image:none;
}
#u1074_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:1231px;
  height:61px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
}
#u1075_img.mouseOver {
}
#u1075.mouseOver {
}
#u1075_img.mouseDown {
}
#u1075.mouseDown {
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:7px;
  width:98px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u1077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u1077_img.mouseOver {
}
#u1077.mouseOver {
}
#u1077_img.mouseDown {
}
#u1077.mouseDown {
}
#u1077_img.selected {
}
#u1077.selected {
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u1078_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u1078_img.mouseOver {
}
#u1078.mouseOver {
}
#u1078_img.mouseDown {
}
#u1078.mouseDown {
}
#u1078_img.selected {
}
#u1078.selected {
}
#u1078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u1079_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u1079_img.mouseOver {
}
#u1079.mouseOver {
}
#u1079_img.mouseDown {
}
#u1079.mouseDown {
}
#u1079_img.selected {
}
#u1079.selected {
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:8679px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:121px;
  width:900px;
  height:8679px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:111px;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:121px;
  width:184px;
  height:110px;
}
#u1082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
