body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:827px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:669px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:48px;
  width:375px;
  height:668px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:48px;
  width:375px;
  height:20px;
}
#u861_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:412px;
  width:125px;
  height:35px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:181px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:265px;
  width:310px;
  height:180px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:72px;
}
#u863_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:29px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:297px;
  width:278px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u864_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  word-wrap:break-word;
}
#u865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:387px;
  width:94px;
  height:36px;
}
#u865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  word-wrap:break-word;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:338px;
  width:278px;
  height:34px;
}
#u866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:34px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:342px;
  width:78px;
  height:27px;
}
#u867_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:344px;
  width:99px;
  height:20px;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:27px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:102px;
  width:295px;
  height:26px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:27px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:342px;
  width:265px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
  text-align:center;
}
#u870_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:265px;
  word-wrap:break-word;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:166px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:159px;
  width:265px;
  height:166px;
  font-size:72px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:261px;
  word-wrap:break-word;
}
