body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1220px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:71px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:70px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:191px;
  height:44px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:994px;
  top:21px;
  width:170px;
  height:23px;
}
#u364_img.mouseOver {
}
#u364.mouseOver {
}
#u364_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:166px;
  word-wrap:break-word;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:27px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:17px;
  width:30px;
  height:27px;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u366_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u366_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u367_img.mouseOver {
}
#u367.mouseOver {
}
#u367_img.mouseDown {
}
#u367.mouseDown {
}
#u367_img.selected {
}
#u367.selected {
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:19px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:10px;
  width:43px;
  height:18px;
  color:#000000;
}
#u368_img.mouseOver {
}
#u368.mouseOver {
}
#u368_img.mouseDown {
}
#u368.mouseDown {
}
#u368_img.selected {
}
#u368.selected {
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:633px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u370_img.mouseOver {
}
#u370.mouseOver {
}
#u370_img.mouseDown {
}
#u370.mouseDown {
}
#u370_img.selected {
}
#u370.selected {
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u372_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u372_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u373_img.mouseOver {
}
#u373.mouseOver {
}
#u373_img.mouseDown {
}
#u373.mouseDown {
}
#u373_img.selected {
}
#u373.selected {
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u374_img.mouseOver {
}
#u374.mouseOver {
}
#u374_img.mouseDown {
}
#u374.mouseDown {
}
#u374_img.selected {
}
#u374.selected {
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u375_img.mouseOver {
}
#u375.mouseOver {
}
#u375_img.mouseDown {
}
#u375.mouseDown {
}
#u375_img.selected {
}
#u375.selected {
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u378_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u378_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:653px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u379_img.mouseOver {
}
#u379.mouseOver {
}
#u379_img.mouseDown {
}
#u379.mouseDown {
}
#u379_img.selected {
}
#u379.selected {
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u380_img.mouseOver {
}
#u380.mouseOver {
}
#u380_img.mouseDown {
}
#u380.mouseDown {
}
#u380_img.selected {
}
#u380.selected {
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u381_img.mouseOver {
}
#u381.mouseOver {
}
#u381_img.mouseDown {
}
#u381.mouseDown {
}
#u381_img.selected {
}
#u381.selected {
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:10px;
  width:71px;
  height:18px;
  color:#000000;
}
#u384_img.mouseOver {
}
#u384.mouseOver {
}
#u384_img.mouseDown {
}
#u384.mouseDown {
}
#u384_img.selected {
}
#u384.selected {
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:1221px;
  height:36px;
  overflow:hidden;
  visibility:hidden;
}
#u386_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(201, 201, 201, 1);
  background-image:none;
}
#u386_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u387_img.mouseOver {
}
#u387.mouseOver {
}
#u387_img.mouseDown {
}
#u387.mouseDown {
}
#u387_img.selected {
}
#u387.selected {
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:388px;
  top:10px;
  width:57px;
  height:18px;
  color:#000000;
}
#u388_img.mouseOver {
}
#u388.mouseOver {
}
#u388_img.mouseDown {
}
#u388.mouseDown {
}
#u388_img.selected {
}
#u388.selected {
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:19px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:10px;
  width:85px;
  height:18px;
  color:#000000;
}
#u389_img.mouseOver {
}
#u389.mouseOver {
}
#u389_img.mouseDown {
}
#u389.mouseDown {
}
#u389_img.selected {
}
#u389.selected {
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:18px;
  width:3px;
  height:3px;
  color:#000000;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u392_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u392.mouseOver {
}
#u392_img.mouseDown {
}
#u392.mouseDown {
}
#u392_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u392.selected {
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u393_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u393.mouseOver {
}
#u393_img.mouseDown {
}
#u393.mouseDown {
}
#u393_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u393.selected {
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u394_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u394.mouseOver {
}
#u394_img.mouseDown {
}
#u394.mouseDown {
}
#u394_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u394.selected {
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u395_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u395.mouseOver {
}
#u395_img.mouseDown {
}
#u395.mouseDown {
}
#u395_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u395.selected {
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:71px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:0px;
  width:100px;
  height:70px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#F2F2F2;
  text-align:center;
}
#u396_img.mouseOver {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u396.mouseOver {
}
#u396_img.mouseDown {
}
#u396.mouseDown {
}
#u396_img.selected {
  left:-5px;
  top:-5px;
  width:111px;
  height:81px;
}
#u396.selected {
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u397 {
  position:fixed;
  left:50%;
  margin-left:-610.5px;
  top:0px;
  visibility:hidden;
}
#u397_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1221px;
  height:51px;
  background-image:none;
}
#u397_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:1231px;
  height:61px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
}
#u399_img.mouseOver {
}
#u399.mouseOver {
}
#u399_img.mouseDown {
}
#u399.mouseDown {
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:7px;
  width:98px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u401_img.mouseOver {
}
#u401.mouseOver {
}
#u401_img.mouseDown {
}
#u401.mouseDown {
}
#u401_img.selected {
}
#u401.selected {
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u402_img.mouseOver {
}
#u402.mouseOver {
}
#u402_img.mouseDown {
}
#u402.mouseDown {
}
#u402_img.selected {
}
#u402.selected {
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u403_img.mouseOver {
}
#u403.mouseOver {
}
#u403_img.mouseDown {
}
#u403.mouseDown {
}
#u403_img.selected {
}
#u403.selected {
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:1231px;
  height:61px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1220px;
  height:50px;
}
#u405_img.mouseOver {
}
#u405.mouseOver {
}
#u405_img.mouseDown {
}
#u405.mouseDown {
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:7px;
  width:98px;
  height:35px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u407_img.mouseOver {
}
#u407.mouseOver {
}
#u407_img.mouseDown {
}
#u407.mouseDown {
}
#u407_img.selected {
}
#u407.selected {
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u408_img.mouseOver {
}
#u408.mouseOver {
}
#u408_img.mouseDown {
}
#u408.mouseDown {
}
#u408_img.selected {
}
#u408.selected {
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u409_img.mouseOver {
}
#u409.mouseOver {
}
#u409_img.mouseDown {
}
#u409.mouseDown {
}
#u409_img.selected {
}
#u409.selected {
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:51px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:50px;
  color:#999999;
  text-align:center;
}
#u410_img.mouseOver {
}
#u410.mouseOver {
}
#u410_img.mouseDown {
}
#u410.mouseDown {
}
#u410_img.selected {
}
#u410.selected {
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:15px;
  width:100px;
  word-wrap:break-word;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:166px;
  width:681px;
  height:455px;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
  color:#FFFFFF;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:191px;
  height:30px;
  color:#FFFFFF;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:31px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:0px;
  width:226px;
  height:30px;
  color:#FFFFFF;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:426px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:264px;
  height:425px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:426px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:30px;
  width:191px;
  height:425px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:426px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:30px;
  width:226px;
  height:425px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:296px;
  width:100px;
  height:60px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:296px;
  width:100px;
  height:60px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:296px;
  width:100px;
  height:60px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:326px;
  width:0px;
  height:0px;
}
#u421_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u421_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:548px;
  width:100px;
  height:60px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:356px;
  width:0px;
  height:0px;
}
#u423_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u423_seg1 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:10px;
  width:185px;
  height:8px;
}
#u423_seg2 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:10px;
  width:8px;
  height:21px;
}
#u423_seg3 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:18px;
  width:20px;
  height:20px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:326px;
  width:0px;
  height:0px;
}
#u424_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:112px;
  height:8px;
}
#u424_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-10px;
  width:20px;
  height:20px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:387px;
  width:100px;
  height:60px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:440px;
  width:100px;
  height:60px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:417px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u427_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u427_seg1 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:8px;
  height:27px;
}
#u427_seg2 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:8px;
  width:20px;
  height:20px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:447px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u428_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u428_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:86px;
  width:20px;
  height:20px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:500px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u429_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u429_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:19px;
}
#u429_seg2 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:12px;
  width:118px;
  height:8px;
}
#u429_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:12px;
  width:8px;
  height:36px;
}
#u429_seg4 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:33px;
  width:20px;
  height:20px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:773px;
  width:681px;
  height:455px;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:31px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
  color:#FFFFFF;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:31px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:0px;
  width:191px;
  height:30px;
  color:#FFFFFF;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:187px;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:31px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:0px;
  width:226px;
  height:30px;
  color:#FFFFFF;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:222px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:426px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:264px;
  height:425px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:426px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:30px;
  width:191px;
  height:425px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:426px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:30px;
  width:226px;
  height:425px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:838px;
  width:100px;
  height:60px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:927px;
  width:100px;
  height:60px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:96px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1137px;
  width:100px;
  height:60px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:1024px;
  width:100px;
  height:60px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:115px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:732px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:212px;
  width:100px;
  height:60px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:272px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u444_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:9px;
  width:20px;
  height:20px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:927px;
  width:100px;
  height:60px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:927px;
  width:100px;
  height:60px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:782px;
  top:957px;
  width:0px;
  height:0px;
}
#u447_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:112px;
  height:8px;
}
#u447_seg1 {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-10px;
  width:20px;
  height:20px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:1137px;
  width:100px;
  height:60px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:898px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u449_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u449_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:987px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:22px;
  width:20px;
  height:20px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:957px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:108px;
  height:8px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-4px;
  width:8px;
  height:61px;
}
#u451_seg2 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:49px;
  width:68px;
  height:8px;
}
#u451_seg3 {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:49px;
  width:8px;
  height:18px;
}
#u451_seg4 {
  border-width:0px;
  position:absolute;
  left:-174px;
  top:52px;
  width:20px;
  height:20px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1084px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u452_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u452_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:32px;
  width:70px;
  height:8px;
}
#u452_seg2 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:32px;
  width:8px;
  height:21px;
}
#u452_seg3 {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:38px;
  width:20px;
  height:20px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:1084px;
  width:0px;
  height:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u453_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:40px;
}
#u453_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:32px;
  width:71px;
  height:8px;
}
#u453_seg2 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:32px;
  width:8px;
  height:21px;
}
#u453_seg3 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:38px;
  width:20px;
  height:20px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:1345px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
