.ax_default {
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
._图片 {
}
.placeholder {
}
.primary_button {
  color:#FFFFFF;
}
._一级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
}
.snapshot {
}
.heading_1 {
  font-family:'微软雅黑';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.shape {
}
._36号字_顶部标题、大按钮、弹窗提示主标题_ {
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.image {
  color:#000000;
}
.vertical_line {
}
.table {
}
.table_cell {
}
.iconfont {
  font-family:'iconfont Regular', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.heading_11 {
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.flow_shape {
}
._形状 {
}
.icon {
}
._文本段落1 {
  font-family:'IaxureTBG Regular', 'IaxureTBG';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
.text_field {
  color:#000000;
  text-align:left;
}
.button {
}
